/src/train/__pycache__/
/src/train/*.csv
/src/train/*.xlsx
/src/train/training-data/*.csv

/src/test/new_models/*.*
/src/test/__pycache__/
/src/test/input-data/*.csv
/src/test/*.csv
/src/test/Predicciones*
/src/Resultados_Predictivo_vs_Valor_Real/

app/__pycache__/